@import "elements.less";
@import "formatting.less";
@desktop-size: 1000px;
@tablet-size: 800px;
@mobile-size: 600px;
@background-color: #383838;
@dark-color: #572b85;
@link-color: #660AC7;
@light-color: #E3DCEC;
@site-title: #fff;

html {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-size: 100%;
    position: relative;
} 

/* ==========================================================================
   Body
   ========================================================================== */

body {
    height: 100%;
    margin: 0;
    padding: 0;
	font-size: 16px; font-size: 1rem;
    background: @background-color;
	header.site-head {
		padding: 40px 0;
		section.wrapper {
            span.site-title {
                max-width: @desktop-size;
                display: block;
                margin: 0 auto;
                font-size: 32px; font-size: 2rem;
                color: @site-title;
            }
        }
        nav#site-menu {
            
        }
	}
    section.container {
        background: @dark-color;
        article.main {
            section.featured-image {
                position: relative;
                img {
                    display: block;
                    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                    filter: gray;
                    -webkit-filter: grayscale(100%);
                    opacity: 0.3;
                    width: 100%;
                    height: auto;
                }    
                q.caption {
                    font-size: 32px; font-size: 2rem;
                    font-weight: 700;
                    color: white;
                    position: absolute;
                    text-align: center;
                    top: 45%;
                    left: 0;
                    max-width: 100%;
                    box-sizing: border-box;
                    padding: 0 10%;
                }
                span.attribution {
                    opacity: 0;
                    position: absolute;
                    bottom: 3px;
                    right: 0;
                    transition: 500ms;
                    padding: 5px;
                    background: white;
                }
                &:hover {
                    span.attribution {
                        opacity: 1;
                    }
                }
            }
            section.content {
                background: white;
                box-sizing: border-box;
                padding: 10%;
                h1:first-child {
                    margin-top: 0;
                    text-align: center;
                }
                img {
                    width: 100%;
                    height: auto;
                    padding: 20px 0;
                }
                p:last-child, blockquote:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
	
	footer {
        margin: 20px 0;
        section.wrapper {
            background: @dark-color;
            padding: 50px 0;
        }
        .box-sizing;

        width: 100%;
	}
}



/* ==========================================================================
   Responsive
   ========================================================================== */

@media screen and (max-width: @desktop-size){
	body {
		header.site-head {
			padding: 0;
		}
		footer {
			padding: 50px 20px;
		}
	}
}
@media screen and (max-width: @tablet-size){
    h1 {
        font-size: 38px;
        font-size: 2.5rem;
        font-weight: 300;
    }
    
	body {  
		header.site-head {
			padding: 0;
		}
        section.container {
        background: @dark-color;
        article.main {
            section.featured-image {  
                q.caption {
                    font-size: 24px; font-size: 1.5rem;
                    font-weight: 700;
                    }
                }
            }
        }
		footer {
			padding: 50px 20px;
		}
	}
}

@media screen and (max-width: @mobile-size){
    h1 {
        font-size: 32px;
        font-size: 2rem;
        font-weight: 300;
    }
	body {
		header.site-head {
			padding: 0;
		}
        article.main {
            section.featured-image {  
                q.caption {
                    font-size: 16px; font-size: 1rem;
                    font-weight: 700;
                }
            }
        }
		footer {
			padding: 50px 20px;
		}
	}
}

@import "helper.less";
@import "code.less";
@import "print.less";