@import "mixins.less";
@import "formatting.less";
@import "helper.less";
@import "code.less";
@desktop-size: 1000px;
@tablet-size: 800px;
@mobile-size: 600px;
@background-color: #383838;
@dark-background-color: #2E2E2E;
@dark-color: #572b85;
@link-color: #B583E9;
@light-color: #F9F4FF;
@site-color: #fff;

html {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
    position: relative;
    overflow-y: scroll;
} 

/* ==========================================================================
   Body
   ========================================================================== */

body {
    height: 100%;
    margin: 0;
    padding: 0;
	font-size: 16px; font-size: 1.6rem;
    background: @background-color;
	header.site-head {
        overflow: hidden;
		padding: 30px 0;
        height: 60px;
        .transition(0.3s, @ease:ease-out);
        display: block;
		section.wrapper {
            position: relative;
            div.site-title {
                float: left;
                margin: 0 auto;
                a {
                    span.logo{
                        .transition;
                        width: 60px;
                        height: 60px;
                        display: inline-block;
                        background: white;
                        margin-right: -4px;
                        .flag {
                            margin: 0 5%;
                            width: 90%;
                            height: auto;
                            path {
                                .transition;
                            }
                        }
                    }
                    span.site-name{
                        vertical-align: top;
                        display: inline-block;
                        color: white;
                        text-transform: uppercase;
                        font-size: 32px;
                        font-size: 3.2rem;
                        line-height: 60px;
                        padding: 0 10px;
                        .transition;
                    }
                    display: inline-block;
                    .transition;
                    &:hover {
                        text-decoration: none;
                        span.site-name {
                            color: @dark-color;
                            background: white;
                        }
                        span.logo{
                            .flag {
                                path {
                                    fill: @dark-color;
                                }
                            }
                        }
                    }
                }             
            }
            nav.site-navigation {
                height: 60px;
                position: absolute;
                right: 0;
                ul {
                    .list-reset;
                    li {
                        display: inline-block;
                        margin: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            font-size: 20px; font-size: 2rem;
                            font-weight: 300;
                            line-height: 40px;
                            color: white;
                            padding: 10px;
                            text-transform: lowercase;
                            background: @dark-background-color;
                            .transition;
                            &:hover {
                                text-decoration: none;
                                background: @dark-color;
                            }
                        }
                    }
                }
            }
        }
	}
    section.container {
        background: white;
        position: relative;
        article.main {
            section {
                background: @dark-color;
                &.featured-video {
                    .youtube, .vimeo {
                        position: relative;
                        padding-bottom: 56.25%;
                        padding-top: 0px; height: 0; overflow: hidden;
                    }
                     
                    .youtube iframe, .vimeo iframe,
                    .youtube object, .vimeo object,
                    .youtube embed,  .vimeo embed{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                &.featured-image {
                    position: relative;
                    img {
                        display: block;
                        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                        filter: gray;
                        -webkit-filter: grayscale(100%);
                        opacity: 0.3;
                        width: 100%;
                        height: auto;
                        .transition(0.3s, @ease:ease-out);
                    }    
                    q.caption {
                        font-size: 32px; font-size: 3.2rem;
                        font-weight: 700;
                        color: white;
                        position: absolute;
                        text-align: center;
                        top: 50%;
                        left: 0;
                        max-width: 100%;
                        .box-sizing;
                        padding: 0 5%;
                        .opacity-transition(0.3s, @ease:ease-out);
                        pointer-events: none;
                    }
                    span.attribution {
                        font-size: 12px; font-size: 1.2rem;
                        opacity: 0;
                        position: absolute;
                        bottom: 3px;
                        right: 0;
                        .transition(0.3s, @ease:ease-out);
                        padding: 5px;
                        background: white;
                    }
                    &.touched,&:hover {
                        span.attribution {
                            opacity: 1;
                        }
                        img {
                            filter: none;
                            -webkit-filter: none;
                            opacity: 1;
                        }
                        q.caption {
                            opacity: 0;
                        }
                    }
                }
            }
            section.content {
                background: white;
                .box-sizing;
                padding: 50px; padding: 5rem;
                h1:first-child {
                    margin-top: 0;
                    text-align: center;
                }
                img {
                    width: 100%;
                    height: auto;
                    padding: 20px 0;
                }
                p:last-child, blockquote:last-child {
                    margin-bottom: 0;
                }
                &.left-side {
                    width: 75%;
                    display: inline-block;
                     h1:first-child {
                        text-align: left;
                    }
                }
            }
            section.side-bar {
                box-sizing: border-box;
                padding-right: 50px;
                display: inline-block;
                width: 25%;
                vertical-align: top;
                margin: 50px 0;
                background: white;
                word-break: break-all;
                font-size: 12px; font-size: 1.2rem;
                aside.widget {
                    margin-bottom: 20px;
                    h3.widget-title {
                        margin: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            section.comments {
                background: white;
                div.toggle-comments {
                    height: 100px;
                    background: @light-color;
                    cursor: pointer;
                    span {
                        display: block;
                        line-height: 100px;
                        width: 100%;
                        text-align: center;
                        
                    }
                }
            }
        }
    }
	
	footer {
        display: block;
        margin: 30px 0;
        width: 100%;      
        section.wrapper {
            display: block;
            padding: 30px; padding: 3em;
            background: @dark-background-color;
            .box-sizing;
            aside.widget {
                color: white;
                width: 48%;
                margin-right: 4%;
                display: inline-block;
                vertical-align: top;
                .box-sizing;
                h3.widget-title {
                    color: white;
                    margin: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
	}
}



/* ==========================================================================
   Responsive
   ========================================================================== */

@media screen and (max-width: @desktop-size){
	body {
		header.site-head {
			padding: 20px 0;
		}
		footer {
			margin: 2.5% 0;
		}
	}
}
@media screen and (max-width: @tablet-size){
    h1 {
        font-size: 42px;
        font-size: 4.2rem;
        font-weight: 300;
    }

    
	body {
        header.site-head {
            section.wrapper {
                div.site-title {
                    a {
                        span.site-name{
                            display: none;
                        }
                    }
                }
            }
        }
        section.container {
        article.main {
            section.featured-image {  
                q.caption {
                    font-size: 24px; font-size: 2.4rem;
                    }
                }
            }
        }
        footer {
            section.wrapper {
                aside.widget {
                    color: white;
                    width: 100%;
                    margin-right: 0;
                    display: inline-block;
                    vertical-align: top;
                    .box-sizing;
                    h3.widget-title {
                        color: white;
                        margin: 0;
                    }
                    &:last-child {
                        margin-top: 20px;
                    }
                }
            }
        }
	}
}

@media screen and (max-width: @mobile-size){
    h1 {
        font-size: 36px;
        font-size: 3.6rem;
        font-weight: 300;
    }
	body {
        article.main {
            section.featured-image {  
                q.caption {
                    font-size: 16px !important; font-size: 1.6rem;
                }
            }
        }
	}
}
@import "print.less";